beautifulsoup4 @ file:///home/conda/feedstock_root/build_artifacts/beautifulsoup4_1649463573192/work
imbalanced-learn @ file:///home/conda/feedstock_root/build_artifacts/imbalanced-learn_1652728311148/work
importlib-metadata @ file:///home/conda/feedstock_root/build_artifacts/importlib-metadata_1669312071043/work
importlib-resources @ file:///home/conda/feedstock_root/build_artifacts/importlib_resources_1665204935269/work
kaleido==0.2.1
plotly==5.7.0
scikit-learn @ file:///Users/runner/miniforge3/conda-bld/scikit-learn_1666884973515/work
scipy==1.9.3
statsmodels @ file:///Users/runner/miniforge3/conda-bld/statsmodels_1667586081845/work
streamlit @ file:///home/conda/feedstock_root/build_artifacts/streamlit_1669930603134/work
urllib3 @ file:///home/conda/feedstock_root/build_artifacts/urllib3_1669259737463/work
