altair 
anyio 
appnope 
argon2-cffi 
argon2-cffi-bindings 
asttokens 
attrs 
backcall 
backports.functools-lru-cache 
beautifulsoup4 
bleach 
blessed==1.19.1
blinker 
bokeh==2.4.2
brotlipy
cachetools 
certifi==2022.12.7
cffi 
charset-normalizer 
click 
commonmark==0.9.1
contourpy 
cryptography 
cycler 
dataclasses 
debugpy 
decorator 
defusedxml 
docopt==0.6.2
driverlessai==1.10.4.post1
entrypoints 
executing 
Faker==13.3.4
fastjsonschema 
flit_core 
fonttools 
future 
gitdb 
GitPython 
h11==0.14.0
h2o==3.38.0.3
h2o-wave==0.24.1
h2o-wave-ml==0.8.1
httpcore==0.16.2
httpx==0.23.1
idna 
imbalanced-learn 
importlib-metadata 
importlib-resources 
inquirer==3.0.0
ipykernel 
ipython 
ipython-genutils==0.2.0
ipywidgets 
jedi 
Jinja2 
joblib 
jsonschema 
# jupyter @ file:///Users/runner/miniforge3/conda-bld/jupyter_1637233271483/work
# jupyter-console @ file:///home/conda/feedstock_root/build_artifacts/jupyter_console_1655961255101/work
# jupyter-server @ file:///home/conda/feedstock_root/build_artifacts/jupyter_server_1669064535452/work
# jupyter_client @ file:///home/conda/feedstock_root/build_artifacts/jupyter_client_1668623095912/work
# jupyter_core @ file:///Users/runner/miniforge3/conda-bld/jupyter_core_1669776213339/work
# jupyterlab-pygments @ file:///home/conda/feedstock_root/build_artifacts/jupyterlab_pygments_1649936611996/work
# jupyterlab-widgets @ file:///home/conda/feedstock_root/build_artifacts/jupyterlab_widgets_1662157840858/work
kaleido==0.2.1
kiwisolver 
loguru==0.6.0
MarkupSafe 
matplotlib 
matplotlib-inline 
munkres==1.1.4
nbclassic 
nbclient 
nbconvert 
nbformat 
nest-asyncio 
notebook 
notebook_shim 
numexpr 
numpy 
opencv-python==4.5.5.64
orca 
packaging 
pandas==1.5.2
pandocfilters 
parso 
patsy 
pexpect 
pickleshare 
Pillow==9.3.0
pipreqs==0.4.11
pkgutil_resolve_name 
platformdirs 
plotly==5.7.0
ply==3.11
prometheus-client 
prompt-toolkit 
protobuf==3.20.1
psutil 
ptyprocess 
pure-eval 
pyarrow==8.0.0
pycparser 
pydeck 
Pygments 
Pympler 
pyOpenSSL 
pyparsing 
PyQt5==5.15.7
PyQt5-sip==12.11.0
pyrsistent 
PySocks 
python-dateutil 
python-editor==1.0.4
pytz 
pytz-deprecation-shim 
PyYAML 
pyzmq 
qtconsole 
QtPy 
readchar==4.0.3
requests 
rfc3986==1.5.0
rich 
scikit-learn 
scipy==1.9.3
seaborn 
semver 
Send2Trash 
sip 
six 
smmap 
sniffio 
soupsieve 
stack-data 
starlette==0.22.0
statsmodels 
streamlit 
tables 
tabulate==0.9.0
tenacity==8.1.0
terminado 
threadpoolctl 
tinycss2 
toml 
toolz 
tornado 
traitlets 
typing_extensions 
tzdata 
tzlocal 
unicodedata2 
urllib3 
uvicorn==0.20.0
validators 
vega-datasets==0.9.0
watchdog 
wcwidth 
webencodings==0.5.1
websocket-client 
widgetsnbextension 
yarg==0.1.9
zipp 
